
</div>

<div align="center" class="wrapper">
<img src="/guide.jpg"><h3>Guides</h3>
 <table>
   <% @guide.each do |guide| %>
    <tr>
    <td><h4><%= guide.name %></h4></td><br>
    </tr>
  <tr>
   
   <td><h2>Expertise:  <%= guide.expertise %></h2><br> 
   
   <%= link_to "View Hunts",guide_hunts_path(guide) %></td>
  </tr>
<% end %>
</div>