<div align="center" class="wrapper" style="width: 700px; margin: 0 auto; padding-top: 80px; padding-bottom: 40px;">
 <h1>Reviews</h2>
   <table>
     <%= @review.each do |review| %>
    

      
      <div class="testimonial-quote group" align="center">
          <div class="quote-container">
              <blockquote>
                  <p><%= review.content %></p>
              </blockquote>  
              <cite><span><%= current_user.name %></span><br>
                  
              </cite>
          </div>
      </div> 
    
 
   <% end %>
</div>